
  <section id="presentacion">
  <div class="center-titulo" >
    <h3 class="title">
       TOP últimos lanzamientos   
    </h3>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card text-center card-image card-client ">
        <div>
          <img src="assets/banner9.jpg" class="card-img-top imagen"  alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Metal: hellsinger</h5>
          
          
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card text-center card-client">
        <div>
          <img src="assets/banner10.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Slime Rancher 2</h5>
          
          
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card text-center card-client">
        <div>
          <img src="assets/banner11.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Call of Duty MW2</h5>
          
        
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card text-center card-client">
        <div>
          <img src="assets/banner12.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Call of Duty MW2</h5>
          
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card text-center card-client">
        <div>
          <img src="assets/banner13.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Call of Duty MW2</h5>
          
        
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card text-center card-client">
        <div>
          <img src="assets/banner14.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Call of Duty MW2</h5>          
        </div>
      </div>
    </div>
  </div>

</section>
