<section id="noticias" class="container" >
    <div class="center-titulo">
      <h3 class="title">Noticias</h3>
      <div class="row">
        <article class="col">
          <h3>Noticias PC</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere cupiditate eligendi deserunt autem at maiores, laboriosam ea dolore neque repellat nisi eius dolor quod debitis minima eos ullam amet possimus corporis quas!</p>
          
        </article>
        <article class="col">
          <h3>Noticias PS5</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ex eius expedita illum quasi, corporis, sed nulla ducimus commodi culpa maxime ab fugiat quas consectetur, enim ipsum non unde? Earum, ex cupiditate.</p>
          
        </article>
        <article class="col">
          <h3>Noticias XBOX</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error recusandae ex repellendus, praesentium sequi placeat, blanditiis, tempora expedita dolorem vero aperiam laudantium perferendis eius necessitatibus! Laboriosam quibusdam dolorum tempore eaque, numquam similique.</p>
          
        </article>
      </div>
    </div>

   
    
      
  </section>