<section id="noticias"class="padded">
    <div class="container">
      <h2>Novedades</h2>
      <div class="row">
        <article class="col">
          <h3>Noticias PC</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere cupiditate eligendi deserunt autem at maiores, laboriosam ea dolore neque repellat nisi eius dolor quod debitis minima eos ullam amet possimus corporis quas!</p>
          <p>Asperiores reiciendis cumque necessitatibus cum, quos dolor optio ducimus consequatur animi eos totam doloremque! Eveniet, distinctio voluptatum perspiciatis nesciunt quo magni inventore, fugiat aspernatur soluta omnis voluptatibus eum officia quaerat ullam totam!</p>
        </article>
        <article class="col">
          <h3>Noticias PS5</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ex eius expedita illum quasi, corporis, sed nulla ducimus commodi culpa maxime ab fugiat quas consectetur, enim ipsum non unde? Earum, ex cupiditate.</p>
          <p>Corporis corrupti iste ipsum aliquid accusantium, maiores unde facere quaerat minus nemo, culpa eos quas. Minima nihil iusto quibusdam voluptate ad sunt at illum, vero, aut consequatur consectetur exercitationem, eum molestias non?</p>
        </article>
        <article class="col">
          <h3>Noticias XBOX</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error recusandae ex repellendus, praesentium sequi placeat, blanditiis, tempora expedita dolorem vero aperiam laudantium perferendis eius necessitatibus! Laboriosam quibusdam dolorum tempore eaque, numquam similique.</p>
          <p>Est fugiat quibusdam ipsum. Ea distinctio aliquam atque sed minima obcaecati deserunt, eos veritatis, quam laboriosam expedita, suscipit velit pariatur alias. Sapiente doloremque impedit molestiae aliquid exercitationem, commodi repellendus illum esse ab?</p>
        </article>
      </div>
    </div>
  </section>