<section id="novedades" class="padded">
  <div class="center-titulo" >
    <h3 class="title">
       Novedades 
    </h3>
  </div>
    <div class="row container-fluid grids">
      <div class="col-sm-3">
        <div class="efecto-image card" >         
          <a class="nav-link active" aria-current="page" href="#"  >
            <img  src="assets/banner.jpg" class=""  alt="...">         
          </a>
          <div class="overly"></div>                 
        </div>
      </div>
      <div class="col-sm-3">
        <div class="efecto-image card" >         
          <a class="nav-link active" aria-current="page" href="#"  >
            <img  src="assets/banner2.jpg" class=""  alt="...">         
          </a>
          <div class="overly"></div>                 
        </div>
      </div>
      <div class="col-sm-3">
        <div class="efecto-image card" >         
          <a class="nav-link active" aria-current="page" href="#"  >
            <img  src="assets/banner.jpg" class=""  alt="...">         
          </a>
          <div class="overly"></div>                 
        </div>
      </div>
      <div class="col-sm-3">
        <div class="efecto-image card" >         
          <a class="nav-link active" aria-current="page" href="#"  >
            <img  src="assets/banner2.jpg" class=""  alt="...">         
          </a>
          <div class="overly"></div>                 
        </div>
      </div>
      <div class="col-sm-3">
        <div class="efecto-image card" >         
          <a class="nav-link active" aria-current="page" href="#"  >
            <img  src="assets/banner.jpg" class=""  alt="...">         
          </a>
          <div class="overly"></div>                 
        </div>
      </div>
      <div class="col-sm-3">
        <div class="efecto-image card" >         
          <a class="nav-link active" aria-current="page" href="#"  >
            <img  src="assets/banner2.jpg" class=""  alt="...">         
          </a>
          <div class="overly"></div>                 
        </div>
      </div>
      <div class="col-sm-3">
        <div class="efecto-image card" >         
          <a class="nav-link active" aria-current="page" href="#"  >
            <img  src="assets/banner.jpg" class=""  alt="...">         
          </a>
          <div class="overly"></div>                 
        </div>
      </div>
      <div class="col-sm-3">
        <div class="efecto-image card" >         
          <a class="nav-link active" aria-current="page" href="#"  >
            <img  src="assets/banner2.jpg" class=""  alt="...">         
          </a>
          <div class="overly"></div>                 
        </div>
      </div>
      
    </div>
  </section>
  
