<section id="login">
    <div class="container">
      <div class="formWraper">
        <div class="formDiv">
         
          <p class="text">Inicia Sesion </p>
          <div class="socialBtn">
           <div class="icon"><i class="bi bi-facebook"></i></div>
           <div class="instagram icon"><i class="bi bi-instagram"></i></div>
           <div class="twitter icon"><i class="bi bi-twitter"></i></div>  
        </div>
        <hr><!--Linea Horizontal-->
        <div class="orDiv">O</div>
        <p class="text"> Ingresa tu Correo</p>
        <div class="formGroup">
         <i class="far fa-user"></i>
          <input type="text" name="name" id="name" placeholder="Name">
        </div>
        <div class="formGroup">
         <i class="far fa-envelope"></i>
         <input type="email" name="name" id="email" placeholder="Email">
       </div>
       <div class="formGroup">
         <i class="fas fa-lock"></i>
         <input type="password" name="name" id="password" placeholder="Password">
       </div>
       
       <button class="btn1">REGISTRATE</button>
      </div>
      <div class="welcomeDiv">
        <h2>Bienvenido</h2>
        <p class="text">Mantente en contacto con nosotros para mas novedades</p>
        <button class="btn2">INICIA SESION</button>
      </div>
      </div>
    </div>
    </section>
