<section id="login" >
    <div class="container-fluid">
      <div class="formWraper">
        <div class="formDiv">
         
          <p class="text">Inicia Sesion con una red social</p>
          <div class="socialBtn">
           <div class="facebook icon"><i class="fab fa-facebook-f"></i></div>
           <div class="instagram icon"><i class="fab fa-instagram"></i></div>
           <div class="twitter icon"><i class="fab fa-twitter"></i></div>  
        </div>
        <hr><!--Linea Horizontal-->
        <div class="orDiv">O</div>
        <p class="text">Inicia Sesion con tu correo</p>
        <div class="formGroup">
         <i class="far fa-user"></i>
          <input type="text" name="name" id="name" placeholder="Name">
        </div>
        <div class="formGroup">
         <i class="far fa-envelope"></i>
         <input type="email" name="name" id="email" placeholder="Email">
       </div>
       <div class="formGroup">
         <i class="fas fa-lock"></i>
         <input type="password" name="name" id="password" placeholder="Password">
       </div>
       <div class="checkBox">
         <input type="checkbox" name="checkbox" id="checkbox">
         <span class="text">Estoy de acuerdo con los terminos & condiciones</span>
       </div>
       <button class="btn1">REGISTRATE</button>
      </div>
      <div class="welcomeDiv">
        <h2>Bienvenido</h2>
        <p class="text">Mantente en contacto con nosotros para mas novedades</p>
        <button class="btn2">INICIA SESION</button>
      </div>
      </div>
    </div>
    </section>
