/* You can add global styles to this file, and also import other style files */

body{
    font-family: "Lato",sans-serif;
}
:root{
    --color1: #2B2E5B;
    --color2: #274073;
    --color3: #EECC37;
    --color4: #F28A2E;
    --color5: #F24E29;
    --color-blanco: #FFFFFF;
    --color-negro: #000000;
    --gris-claro: #CCCCCC;
    --gris-oscuro: #333333;
    --colortitle:#555;
    --colorbodyblanco:#fff;
    --colorbotonazul:#446084;
    --colorhover:#333;
}

h1{
    font-weight: 900;
    font-size: 36px;
    letter-spacing: -2px;
    font-family: "Lato",sans-serif;
}

h2{
    font-weight: 300;
    font-size: 32px;
    letter-spacing: -2px;
    
    text-align: center;
    padding-bottom: 30px;
    font-family: "Lato",sans-serif;
}

h3{
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Lato",sans-serif;
}

.padded{
    padding-top: 30px;
    padding-bottom: 30px;
    
}